.pro_sidebar {
    color: #000000;
    .pro-sidebar-inner {
        background: #ffffff !important;
    }
}

.imgPBY {
    padding-left: 5em;
    img {
        max-width: 95%;
        height: 50px;
    }
}