.main_container {
    padding-top: 70px;
}

.Sidebar {
    display: none;
}

.Hamburguesa {
    display: none;
    font-size: 2em !important;
    margin-left: 0.4em;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 950px) {
    .main_container {
        padding-top: 0;
        // display: none;
    }
    .Sidebar {
        display: block;
    }
    .Hamburguesa {
        display: flex !important;
        font-size: 2em !important;
        margin-left: 0.4em;
        position: absolute;
        z-index: 1001;
        top: 6px
    }
}