@import '~react-pro-sidebar/dist/scss/styles.scss';
$sidebar-bg-color: #ffffff !default;
$sidebar-color: #adadad !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
.main_container {
    padding-top: 70px;
}

.Sidebar {
    display: none;
}

.Hamburguesa {
    display: none;
    font-size: 2em !important;
    margin-left: 0.4em;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 950px) {
    .main_container {
        padding-top: 0;
        // display: none;
    }
    .Sidebar {
        display: block;
    }
    .Hamburguesa {
        display: flex !important;
        font-size: 2em !important;
        margin-left: 0.4em;
        position: absolute;
        z-index: 1001;
        top: 6px
    }
}